<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Landing Page - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="css/landing-page.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
<div id="app">


  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="#">TRUORA</a>
	  <div>
		  <button class="btn btn-primary" @click="selpag1" :disabled="pagina == 1">Buscar</button>
		  <button class="btn btn-primary" @click="selpag2" :disabled="pagina == 2">Historial</button>
	  </div>
    </div>
  </nav>


<div id="pagina1" v-if="pagina == 1">  
  
  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Obten información sobre un servidores de un dominio</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input v-model="vsearch" type="text" class="form-control form-control-lg" placeholder="Ingresa tu dominio...">
              </div>
              <div class="col-12 col-md-3">
                <button type="button" @click="buscar" :disabled="vsearch == ''" class="btn btn-block btn-lg btn-primary">Buscar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>


  <!-- Image Showcases -->
  <section class="showcase" v-if="name != ''">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-12 order-lg-1 my-auto showcase-text">
			
			<table class="table table-striped">
			  <thead>
				<tr>
				  <th scope="col">Propiedad</th>
				  <th scope="col">Valor</th>
				</tr>
			  </thead>
			  <tbody>
				<tr>
				  <td>Server Change</td>
				  <td>{{server_change}}</td>
				</tr>
				<tr>
				  <td>Ssl Grade</td>
				  <td>{{ssl_grade}}</td>
				</tr>
				<tr>
				  <td>Previus Ssl Grade</td>
				  <td>{{previus_ssl_grade}}</td>
				</tr>
				
				<tr>
				  <td>Logo</td>
				  <td>{{logo}}</td>
				</tr>
				
				<tr>
				  <td>Title</td>
				  <td>{{title}}</td>
				</tr>
				
				<tr>
				  <td>is Down</td>
				  <td>{{is_down}}</td>
				</tr>
				
				<tr v-for="server in servers">
					<td>{{server.address}}</td>
					<td>
					
						<table class="table table-striped">
						  <tbody>
							<tr>
							  <td>ssl_grade</td>
							  <td>{{server.ssl_grade}}</td>
							</tr>
							<tr>
							  <td>country</td>
							  <td>{{server.country}}</td>
							</tr>
							
							<tr>
							  <td>owner</td>
							  <td>{{server.owner}}</td>
							</tr>
							
						  </tbody>
						</table>
					
					
					</td>
				</tr>
				
			  </tbody>
			</table>
			
        </div>
		
      </div>
    </div>
  </section>
  
</div>

<div id="pagina2" v-if="pagina == 2">    
  <H1>HISTORIAL DE CONSULTAS</H1>
	<table class="table table-striped">
    <tbody>
    
    <tr v-for="historia in historial">
      <td><div align="center">{{historia}}</div></td>
    </tr>

    </tbody>
  </table>
</div>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
   
</div>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="js/app.js"></script>  
</body>

</html>
